html, body, #root, #root>div:first-child {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.list-group-item-action {
  cursor: pointer;
}

.infoWindow-image {
  height: 100px;
  width: 100px;
}

